.logopagina {
    width: 60px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: transform 0.3s ease;
}

.logopagina:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px white);
}

@media (max-width: 768px) {
    .logopagina {
        position: relative;
        left: 0;
        top: 0;
        width: 50px;
    }
}
